<div class="container my-4">
  <app-search-bar
    class="row align-items-center mb-4 px-2 border"
  ></app-search-bar>
  <app-post
    *ngFor="let post of posts$ | async | markedMap: (searchService.searchType$ | async) : (searchService.searchString$ | async)"
    [post]="post"
    [user]="user"
    class="row align-items-center mb-2 border bg-light"
  ></app-post>
  <button
    type="button"
    class="btn btn-outline-primary mr-2"
    (click)="open(add)"
  >Добавить пост</button>
</div>

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Добавление поста</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div
        class="form-group"
        [formGroup]="postForm"
        (ngSubmit)="modal.close('add')"
      >
        <label for="text">Text</label>
        <div class="input-group mb-3">
          <textarea
            id="text"
            class="form-control"
            name="text"
            formControlName="text"
            rows="5"
          ></textarea>
        </div>
        <div
          *ngIf="!addedFile"
          class="input-group"
        >
          <label for="file" class="form-label btn btn-outline-primary">Добавить pdf-файл</label>
          <input
            class="form-control d-none"
            type="file"
            id="file"
            formControlName="file"
            accept=".pdf"
            (change)="onFileChange($event)"
          >
        </div>
        <div
          *ngIf="addedFile"
          class="d-flex flex-row justify-content-center"
        >
          <img
            src={{icon}}
            class="rounded pr-1"
            alt="pdf"
            width="40"
            height="50"
          >
          <p>
            {{addedFile!.name}}
          </p>
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="onClear()"
          >delete</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-outline-primary mr-2"
      type="submit"
      (click)="modal.close('add')"
    >Ок</button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2"
      (click)="modal.close()"
    >Отмена</button>
  </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
