<div class="col container">
  <div class="row align-items-start">
    <h4
      class="col-9"
      [ngClass]="post!.text!.isMark ? 'marked': ''"
    >
      {{post!.text!.value}}
    </h4>
    <p
      *ngIf="post!.file!.value" class="col"
      [ngClass]="post!.file!.isMark ? 'marked': ''"
    >
      Вложение: {{post!.file!.value!.name}}
    </p>
  </div>
  <div class="row align-items-start my-2">
    <p class="col">
      <span [ngClass]="post!.author!.isMark ? 'marked': ''">
        {{post!.author!.value}}
      </span>
      <span [ngClass]="post!.date!.isMark ? 'marked': ''">
        {{post!.date!.value | date: 'd MMM yy, h:mm'}}
      </span>
      <small class="col" *ngIf="post!.isModified">(отредактировано)</small>
    </p>
    <button
      type="button"
      class="btn btn-outline-primary mr-2"
      (click)="open(edit)"
      [ngbTooltip]="tipContent"
    >Редактировать</button>
    <button
      type="button"
      class="btn btn-outline-danger mr-2"
      (click)="open(delete)"
    >Удалить</button>
  </div>
</div>

<ng-template #tipContent>Редактировать пост может только создавший его пользователь!</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Удаление поста</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Подтверждаете удаление?</p>
    <button type="button" class="btn btn-outline-danger mr-2" (click)="modal.close('remove')">Удалить</button>
    <button type="button" class="btn btn-outline-primary mr-2" (click)="modal.close()">Отмена</button>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Редактирование поста</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div
        class="form-group"
        [formGroup]="postForm"
        (ngSubmit)="modal.close('edit')"
      >
        <label for="text">Text</label>
        <div class="input-group mb-3">
          <textarea id="text" class="form-control" name="text" formControlName="text"></textarea>
        </div>
        <label for="formFile" class="form-label">Добавить pdf-файл</label>
        <div class="input-group py-3">
          <input class="form-control form-control-sm" type="file" id="file" formControlName="file">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-outline-primary mr-2"
      type="submit"
      (click)="modal.close('edit')"
      [disabled]="user!==post!.author!.value"
    >Ок</button>
    <button
      type="button"
      class="btn btn-outline-secondary mr-2"
      (click)="modal.close()"
    >Отмена</button>
  </div>
</ng-template>
